{% extends 'base.html' %}

{% block title %}Lista de Eventos{% endblock %}

{% block content %}


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Evento</th>
                <th scope="col">Data</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
            </tr>
        </thead>
        {% for dataevento in dataeventos %}
        <tbody>
            <tr>
                {% if dataevento.confirmado == True %}
                <td><a class="btn btn-primary" href="/contatopf/dataeventodetalhe/{{ dataevento.id }}" role="button">{{ dataevento.evento }}</a></td>
                {% else %}
                <td><a class="btn btn-secondary" href="/contatopf/dataeventodetalhe/{{ dataevento.id }}" role="button">{{ dataevento.evento }}</a></td>
                {% endif %}
                <td>{{ dataevento.dataevento|date:'l - d/m/Y' }}</td>
                <td>{{ dataevento.bairro }}</td>
                <td>{{ dataevento.cidade }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>


{% endblock %}